{% extends "base.html" %}

{% block content %}

<nav class="navbar navbar-light signup-navbar">
    <div class="signup-arrow-wrapper">
        <a class="navbar-brand" href="/">
            <span class="h1 fas fa-arrow-left"></span>
        </a>
    </div>
</nav>

<div class="login-page" style="height: 100vh; background-color: #EEEEEE">
    <div class="row text-center" style="padding-top: 10%">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3>Sign Up</h3>
            <hr>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row text-center" style="padding-top: 20px">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <form method="post" class="mx-auto">
                {% csrf_token %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    <div class="form-group row d-flex justify-content-center">
                        {% if 'password' in field.name %}
                            <input class="form-control" type="password" name="{{ field.name }}" placeholder="{{ field.label|title }}" style="background-color: transparent; color: #272727" required>
                        {% else %}
                            <input class="form-control" type="text" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="{{ field.label|title }}" style="background-color: transparent; color: #272727" required>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="form-group" style="padding-top: 10px">
                    <button type="submit" class="btn btn-dark mb-2 green-button">Sign up</button>
                </div>
            </form>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>


{% endblock %}
