{% extends 'base.html' %}
{% load static %}

{% block buttons %}
    <a href="{% url 'rideshare:rideshare-create-page' community.slug %}" class="btn btn-success ml-4">Start a rideshare</a>
{% endblock %}
{% block content%}
    <h3>{{community.title}}</h3>
    <hr>
    {% if rideshares %}
        <div class="list-group">
        {% for rideshare in rideshares %}
            {% include "partials/rideshare-card.html" %}
        {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-primary" role="alert">No rides to display.</div>
    {% endif %}
{% endblock %}
