{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'partials/navbar.html' %}

{% if user.is_authenticated %}

    <div class="create-community-home">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">

                    <h4 class="card-title create-community-title text-center">Create Your Community!</h4>
                    <div class="create-community-form-wrapper">
                        <form method="post" class="mx-auto">
                            {% csrf_token %}

                            {% for field in form %}
                                {% for error in field.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                                <div class="form-group row d-flex justify-content-center">
                                    {% if 'title' in field.name %}
                                        <input class="form-control typical-field" type="text" name="{{ field.name }}" placeholder="{{ field.label|title }}" required></input>
                                    {% else %}
                                        <textarea cols="30" rows="10" class="form-control typical-field" name="{{ field.name }}" placeholder="{{ field.label|title }}" required></textarea>
                                    {% endif %}
                                </div>

                            {% endfor %}

                            <div class="form-group" style="padding-top: 10px">
                                <button type="submit" class="btn btn-dark mb-2 green-button">Create Community</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>




{% else %}
    {% include 'partials/not_auth.html' %}
{% endif %}

{% endblock %}
