{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RideIt</title>

    <!-- Css -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Scripts -->

    <script src="https://kit.fontawesome.com/735e24ebd7.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- <script src="{% static 'js/main.js' %}"></script> -->


</head>
<body>

    {% block content %}

        <!-- Everything else goes here -->

    {% endblock %}

</body>
</html>
