<div class="card" style="margin-bottom: 20px; border-radius: 20px; background-color: #f4f4f4; border-color: #f4f4f4; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.10);">
    <div class="card-body">
        <h4 class="card-title">Sunset Chasers</h4>
        <h6 class="card-subtitle mb-2 text-muted" style="padding-top: 3px"><span class="fas fa-map-pin"></span> Sunset District, San Francisco&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fas fa-users"></span> 58 Members </h6>
        <p class="card-text" style="padding-top: 5px;">We are a group of residents living in the sunset district of San Francisco who love to go
        chasing the sunset and occasionally go out to the city. We are friendly neighbors and often share rides to the beach or to downtown in border
        to save on Uber/Lyft. Feel free to join if you are in the Sunset!</p>

        <button href="#" class="btn" style="margin-top: 15px; border-radius: 20px; height: 40px; background-color: #E9AE0B; color: #EEEEEE">Learn More</button>
        <button href="#" class="btn" style="margin-top: 15px; border-radius: 20px; height: 40px; background-color: #1B8366; color: #EEEEEE; margin-left: 6px">Join Community</button>

    </div>
</div>
