{% load static %}

<div class="card profile-card" style="margin-top: 60px;">
    <div class="card-body">
        <div class="card-title profile-card-title">
            <img class="profile-card-pic" src="/media/{{ user_profile.profile_pic }}"/>
            <span class="profile-card-name">{{user_profile.first_name}} {{user_profile.last_name}}</span>
        </div>
        <hr>
        <h6 class="card-subtitle mb-2 text-muted profile-card-subtitle"><span class="fas fa-car"></span> 28 Rides Given &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fas fa-walking"></span> 40 Rides Taken </h6>
        <hr>
        <span class="h5" style="padding-top: 5px"><a class="btn profile-card-add-comm-btn" href="{% url 'rideshare:rideshare-create-page' community.slug %}"><span class="fas fa-plus"></span></a>&nbsp;Create Ride</span>
        <span class="h5" style="padding-top: 5px"></span>
    </div>
</div>
