{% load static %}

<div class="card profile-card">
    <div class="card-body">
        <div class="card-title profile-card-title">
            <img class="profile-card-pic" src="{% static 'images/profile_picture.png' %}"/>
            <span class="profile-card-name">Andrey Novichkov</span>
        </div>
        <hr>
        <h6 class="card-subtitle mb-2 text-muted profile-card-subtitle"><span class="fas fa-car"></span> 28 Rides Given &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fas fa-walking"></span> 40 Rides Taken </h6>
        <hr>
        <span class="h5" style="padding-top: 5px"><button class="btn profile-card-add-comm-btn" href="#"><span class="fas fa-plus"></span></button>&nbsp;Create Commmunity</span>
        <span class="h5" style="padding-top: 5px"></span>
        <!-- <p class="card-text profile-card-text">We are a group of residents living in the sunset district of San Francisco who love to go
        chasing the sunset and occasionally go out to the city. We are friendly neighbors and often share rides to the beach or to downtown in border
        to save on Uber/Lyft. Feel free to join if you are in the Sunset!</p>


        <button href="#" class="btn profile-card-seemore-button" style="">See More</button> -->
        <!-- <button href="#" class="btn" style="margin-top: 15px; border-radius: 20px; height: 40px; background-color: #E9AE0B; color: #EEEEEE">Learn More</button>
        <button href="#" class="btn" style="margin-top: 15px; border-radius: 20px; height: 40px; background-color: #1B8366; color: #EEEEEE; margin-left: 6px">Join Community</button> -->

    </div>
</div>
