<div class="card community-card">
    <div class="card-body">
        <h4 class="card-title">{{ride.title}} | {{ride.departure_date|date:"SHORT_DATE_FORMAT"}}</h4>
        <h6 class="card-subtitle mb-2 text-muted community-card-subtitle"><span class="fas fa-map"></span>{{ride.get_start}} -> {{ride.get_end}}</h6>
        <p class="card-text community-card-text">This is a great ride!</p>


        <a href="" class="btn community-card-seemore-button" style="">Join Ride</a>
        <!-- <button href="#" class="btn" style="margin-top: 15px; border-radius: 20px; height: 40px; background-color: #E9AE0B; color: #EEEEEE">Learn More</button>
        <button href="#" class="btn" style="margin-top: 15px; border-radius: 20px; height: 40px; background-color: #1B8366; color: #EEEEEE; margin-left: 6px">Join Community</button> -->

    </div>
</div>
