<div class="card user-owned-community-card">
    <div class="card-body text-center">
        <h5 class="card-title profile-card-title">{{ community.title }}</h5>
        <h6 class="community-detail-subtitle mb-2 text-muted"><span class="fas fa-map-pin"></span> United States, America&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fas fa-users"></span> {{community.get_members|length}} Member{{community.get_members|length|pluralize:",s" }} </h6>
        <a href="{% url 'rideshare:community-details-page' community.slug%}" class="btn see-more-button" style="">See More</a>
        <!-- <span class="h5" style="padding-top: 5px"></span> -->
    </div>
</div>
